.form-container {
    width: 100vw;
}

.main-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 3px;
    text-shadow: 3px 3px 15px rgb(216, 143, 6);
    color: black;
    background-color:#c5c9c6;
    text-align: center;
    border-bottom: 5px solid rgb(216, 143, 6);
    border-top: 5px solid rgb(216, 143, 6);
    border-radius: 10%;
    line-height: 50px;
}

.board-page {
    background-color: #c5c9c6;
    min-height: 100vh;
}

.links:hover {
    opacity: 80%;
    border-bottom: 1px solid white;
}

.card-column {
    border-right: 3px solid rgb(216, 143, 6, 0.5);
    border-radius: 5%;
}

.first {
    border-left: 3px solid rgb(216, 143, 6, 0.5);
}